# Dimentionality Reduction

# Initialization

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

from helper import plot_decision_regions
from rbf_kernel_pca import rbf_kernel_pca

In [2]:
df_wine = pd.read_csv('wine.csv',header=None);

In [3]:
df_wine.shape

(179, 15)

In [4]:
df_wine.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,NaN,0,1.00,2.00,3.00,4.0,5,6.00,7.00,8.00,9.00,10.00,11.00,12.00,13
1,0.0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
2,1.0,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
3,2.0,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
4,3.0,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480